/**
 * Body CSS
 */
html,
body {
	height: 100%;
}

html,
body,
input,
textarea,
buttons {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Header CSS
 */
header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
}

header ul.mui-list--inline {
	margin-bottom: 0;
}

header a {
	color: white;
}

header table {
	width: 100%;
}


/**
 * Content CSS
 */
#content-wrapper {
	min-height: 100%;

	/* sticky footer */
	box-sizing: border-box;
	margin-bottom: -50px;
	padding-bottom: 50px;
}


/**
 * Footer CSS
 */
footer {
	box-sizing: border-box;
	height: 50px;
	background-color: #eee;
	border-top: 1px solid #e0e0e0;
	padding-top: 15px;
}


/*****************************
Custom styles
*****************************/
.error-panel {
	background-color: #f8d7da;
	color: #721c24;
	border-color: #f5c6cb;
}

.info-panel {
	color: #004085;
	background-color: #cce5ff;
	border-color: #b8daff;
}

.success-panel {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb
}