<table class="mui-table mui-table--bordered">
	<tbody>
		{{#each entry}}
			<tr>
				<td style="width: 30%;">{{@key}}</td>
				<td style="width: 70%;">{{this}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>