{{define "css"}}
{{end}}

{{define "body"}}
<form class="mui-form" name="frmLoad" id="frmLoad" method="POST" action="/postselectlogfile">
	<legend>Select Log File</legend>

	<div class="mui-textfield">
		<input type="file" name="logFile" id="logFile" />
	</div>

	<button type="submit" class="mui-btn mui-btn--raised">Submit</button>
</form>
{{end}}

{{define "js"}}
{{end}}
